body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(
    to bottom,
    #ff3d72,
    #ff3d72,
    #fe7b72,
    #fe4670,
    #f42977,
    #bb2f9f,
    #9736bc,
    #6d3cdb,
    #5241f5
  );
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-box {
    background: rgba(255, 255, 255, 0.1);
    width: 350px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black;
    border: 2px solid white;
}

.register-box h2 {
    margin-bottom: 20px;
}

.register-box input {
    width: 92%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.register-box button {
    width: 100%;
    padding: 12px;
    background: #22c55e;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.register-box button:hover {
    background: #16a34a;
}

.login-link {
    margin-top: 10px;
}

.error {
    color: red;
    font-size: 14px;
}
